Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json

Update node version
  .nvmrc
Labels: none

Update the about page (#123)
  .nvmrc
  src/pages/about.tsx
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

style: update style of nav links
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/nav.test.tsx.snap
  src/components/nav.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

chore: update dependencies (#124)
  package-lock.json
  package.json
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/nav.test.tsx.snap
  src/components/nav.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, dependencies
