Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

Use accessible roles for e2e testing
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Labels: dependencies

Use accessible roles for e2e testing
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Labels: dependencies

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Add snapshot test for post-list-item
  babel.config.json
  jest.config.json
  package-lock.json
  package.json
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.test.tsx
  src/pages/index.tsx
  src/setup-jest.ts
Labels: test, source, content, dependencies

Add snapshot test for post-list-item
  babel.config.json
  jest.config.json
  package-lock.json
  package.json
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.test.tsx
  src/pages/index.tsx
  src/setup-jest.ts
Labels: test, source, content, dependencies

Add tests for post-date and bio
  cypress/integration/index.test.ts
  gatsby-config.js
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/post-date.test.tsx.snap
  src/components/bio.test.tsx
  src/components/bio.tsx
  src/components/post-date.test.tsx
  src/graphql.d.ts
  src/pages/index.tsx
Labels: test, source, content

Add tests for post-date and bio
  cypress/integration/index.test.ts
  gatsby-config.js
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/post-date.test.tsx.snap
  src/components/bio.test.tsx
  src/components/bio.tsx
  src/components/post-date.test.tsx
  src/graphql.d.ts
  src/pages/index.tsx
Labels: test, source, content

Add social icon test
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/bio.test.tsx
  src/components/social-icon.test.tsx
Labels: test, source

Add social icon test
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/bio.test.tsx
  src/components/social-icon.test.tsx
Labels: test, source

Add tests for layout
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/__snapshots__/layout.test.tsx.snap
  src/components/bio.test.tsx
  src/components/bio.tsx
  src/graphql.d.ts
  src/layout.test.tsx
  src/layout.tsx
Labels: test, source

Add tests for layout
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/__snapshots__/layout.test.tsx.snap
  src/components/bio.test.tsx
  src/components/bio.tsx
  src/graphql.d.ts
  src/layout.test.tsx
  src/layout.tsx
Labels: test, source

Add page title tests
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/pages/index.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/templates/post.tsx
Labels: test, source, content

Add page title tests
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/pages/index.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/templates/post.tsx
Labels: test, source, content

Add index test
  src/pages/index.tsx
  src/test/__snapshots__/index.test.tsx.snap
  src/test/index.test.tsx
Labels: test, source, content

Add index test
  src/pages/index.tsx
  src/test/__snapshots__/index.test.tsx.snap
  src/test/index.test.tsx
Labels: test, source, content

Add tailwindcss
  .xo-config.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  src/pages/index.tsx
  src/styles/global.css
  tailwind.config.js
Labels: source, content, styling, dependencies

Add tailwindcss
  .xo-config.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  src/pages/index.tsx
  src/styles/global.css
  tailwind.config.js
Labels: source, content, styling, dependencies

Update dependabot config
  .github/dependabot.yml
Labels: workflow

Update dependabot config
  .github/dependabot.yml
Labels: workflow

Restyle the index page
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/fonts/Montserrat-Light.ttf
  src/fonts/Nunito-Regular.ttf
  src/pages/index.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
  tailwind.config.js
Labels: test, source, content, styling

Restyle the index page
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/fonts/Montserrat-Light.ttf
  src/fonts/Nunito-Regular.ttf
  src/pages/index.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
  tailwind.config.js
Labels: test, source, content, styling

Add site banner
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/fonts/Nunito-Regular.ttf
  src/graphql.d.ts
  src/pages/index.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
  src/test/index.test.tsx
  tailwind.config.js
Labels: test, source, content, styling

Add site banner
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/fonts/Nunito-Regular.ttf
  src/graphql.d.ts
  src/pages/index.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
  src/test/index.test.tsx
  tailwind.config.js
Labels: test, source, content, styling

Restyle post page
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-date.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.tsx
  src/components/post-date.test.tsx
  src/components/post-date.tsx
  src/components/post-list-item.tsx
  src/fonts/Montserrat-Regular.ttf
  src/pages/index.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, content, styling

Restyle post page
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-date.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.tsx
  src/components/post-date.test.tsx
  src/components/post-date.tsx
  src/components/post-list-item.tsx
  src/fonts/Montserrat-Regular.ttf
  src/pages/index.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, content, styling

Update link styles and page width
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, styling

Update link styles and page width
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/styles/global.css
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, styling

Add table styles
  cypress/integration/post.test.ts
  src/styles/global.css
Labels: source, styling

Add table styles
  cypress/integration/post.test.ts
  src/styles/global.css
Labels: source, styling

Update e2e test names
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
Labels: none

Update e2e test names
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
Labels: none

Update husky
  .husky/.gitignore
  package-lock.json
  package.json
Labels: dependencies

Update husky
  .husky/.gitignore
  package-lock.json
  package.json
Labels: dependencies

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Update table styles
  gatsby-config.js
  src/styles/global.css
Labels: source, styling

Update table styles
  gatsby-config.js
  src/styles/global.css
Labels: source, styling

Remove gatsby purge css plugin
  gatsby-config.js
  package-lock.json
  package.json
  src/styles/global.css
Labels: source, styling, dependencies

Remove gatsby purge css plugin
  gatsby-config.js
  package-lock.json
  package.json
  src/styles/global.css
Labels: source, styling, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json
