Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json

Add npm script to update dependencies to latest versions
  package.json
Labels: none

Add npm script to update dependencies to latest versions
  package.json
Labels: none

Remove setup-jest.ts
  jest.config.json
  src/setup-jest.ts
Labels: source

Remove setup-jest.ts
  jest.config.json
  src/setup-jest.ts
Labels: source

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies

Update lead dev post to remove indication it's part of a series
  cypress/integration/post.test.ts
  posts/lead-dev-2021.md
Labels: content

Update lead dev post to remove indication it's part of a series
  cypress/integration/post.test.ts
  posts/lead-dev-2021.md
Labels: content

Update package.json 'update' script to remove prerequisite of ncu being installed locally
  package.json
Labels: none

Update package.json 'update' script to remove prerequisite of ncu being installed locally
  package.json
Labels: none

Update personal details
  cypress/integration/about.test.ts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.tsx
  src/components/layout.tsx
  src/pages/about.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

Update personal details
  cypress/integration/about.test.ts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.tsx
  src/components/layout.tsx
  src/pages/about.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

Update dependencies
  .xo-config.json
  package-lock.json
  package.json
Labels: dependencies

Update dependencies
  .xo-config.json
  package-lock.json
  package.json
Labels: dependencies

Update dependencies and snapshot tests
  package-lock.json
  package.json
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, dependencies

Update to node 16, eslint 8 and fix an xo rule
  .xo-config.json
  package-lock.json
  package.json
Labels: dependencies

Update ts mock syntax in tests
  .xo-config.json
  src/templates/post.test.tsx
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: source

Use nvmrc to manage node versions
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/check-performance.yml
  .github/workflows/check-types.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  .nvmrc
Labels: workflow

Update performance-check script
  .github/workflows/check-performance.yml
Labels: workflow

Update deps (#96)
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/check-performance.yml
  .github/workflows/check-types.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  .nvmrc
  .xo-config.json
  package-lock.json
  package.json
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, workflow, dependencies

Update deps (#96)
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/check-performance.yml
  .github/workflows/check-types.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  .nvmrc
  .xo-config.json
  package-lock.json
  package.json
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, workflow, dependencies

update about page and footer content
  cypress/integration/about.test.ts
  src/components/footer.tsx
  src/img/avatar.svg
  src/pages/about.tsx
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

remove twitter social info
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/header.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

remove twitter social info (#119)
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/header.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

Update dependencies to latest versions
  .xo-config.json
  package-lock.json
  package.json
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/social-icon.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, dependencies

Update to node 18 lts
  .nvmrc
Labels: none

Use @gatsbyjs/reach-router dependency when mocking routing
  package-lock.json
  package.json
  src/components/layout.test.tsx
  src/components/nav.test.tsx
  src/components/nav.tsx
  src/templates/post.test.tsx
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: source, dependencies

Use npm ci in workflow
  .github/workflows/check-performance.yml
Labels: workflow

Migrate Cypress setup
  cypress.config.ts
  cypress.json
  cypress/e2e/about.test.ts
  cypress/e2e/index.test.ts
  cypress/e2e/post.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies

Update lighthouse config
  .github/workflows/check-performance.yml
  .gitignore
  .prettierignore
  package-lock.json
  package.json
Labels: workflow, dependencies

Update lighthouse config
  .github/workflows/check-performance.yml
Labels: workflow

Update e2e workflow
  .github/workflows/test-e2e.yml
Labels: workflow

Migrate to setup-node and checkout v3 workflow actions
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/check-types.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: workflow

Update dependencies (#120)
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/check-performance.yml
  .github/workflows/check-types.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  .gitignore
  .nvmrc
  .prettierignore
  .xo-config.json
  cypress.config.ts
  cypress.json
  cypress/e2e/about.test.ts
  cypress/e2e/index.test.ts
  cypress/e2e/post.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/layout.test.tsx
  src/components/nav.test.tsx
  src/components/nav.tsx
  src/components/social-icon.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
  tsconfig.json
Labels: test, source, workflow, dependencies

Use gatsby head
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/page-head.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/templates/post.tsx
  tailwind.config.js
Labels: source, content, dependencies

Use gatsby head (#121)
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/page-head.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/templates/post.tsx
  tailwind.config.js
Labels: source, content, dependencies

Add page-head tests
  src/components/__snapshots__/page-head.test.tsx.snap
  src/components/page-head.test.tsx
Labels: test, source

Add tests for page heads
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source

Update about page
  src/pages/about.tsx
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

Add tests for page heads (#122)
  src/components/__snapshots__/page-head.test.tsx.snap
  src/components/page-head.test.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source
