Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

Update formatting
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
Labels: none

Update formatting
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
Labels: none

Add husky pre-commit check
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: dependencies

Add husky pre-commit check
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: dependencies

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Remove root import plugin and configure manifest
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  static/favicon.ico
  static/favicon.png
Labels: content, dependencies

Remove root import plugin and configure manifest
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  static/favicon.ico
  static/favicon.png
Labels: content, dependencies

Add more manifest config
  gatsby-config.js
Labels: none

Add more manifest config
  gatsby-config.js
Labels: none

Update package.json description
  package.json
Labels: none

Update package.json description
  package.json
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Use Gatsby image plugin to serve images
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  posts/alpha-channels/2012-09-23_00004-1024x576.jpg
  posts/alpha-channels/alpha-channels.md
  posts/alpha-channels/cat-first-selection.png
  posts/alpha-channels/cat.png
  posts/alpha-channels/channels.png
  posts/alpha-channels/magic-wand.png
  posts/alpha-channels/save-selection.png
  posts/going-metro/going-metro.md
  posts/going-metro/reader-1024x576.png
  posts/going-metro/startscreen-1024x576.png
  posts/going-metro/windows-8-logo-300x140.jpg
  posts/google-domains-aws/acm.png
  posts/google-domains-aws/cloudfront.png
  posts/google-domains-aws/google-domains-aws.md
  posts/java-truststore/java-truststore.md
  posts/java-truststore/ssl-certificate.png
  posts/new-pc/IMG_20151220_144823.jpg
  posts/new-pc/IMG_20151220_164328.jpg
  posts/new-pc/IMG_20151221_000527.jpg
  posts/new-pc/new-pc.md
  posts/rest-client-template/RESTing-300x229.jpg
  posts/rest-client-template/rest-client-template.md
  posts/sending-email/email.png
  posts/sending-email/sending-email.md
  posts/ssh-keys/keys.jpg
  posts/ssh-keys/ssh-keys.md
  posts/the-pi-and-i/the-pi-and-i.md
  posts/the-pi-and-i/thepi.jpg
  posts/the-pi-and-i/xbmcmenu.jpg
  src/components/layout/bio.tsx
  src/img/favicon.png
  src/img/profile-picture.png
Labels: source, content, dependencies

Use Gatsby image plugin to serve images
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  posts/alpha-channels/2012-09-23_00004-1024x576.jpg
  posts/alpha-channels/alpha-channels.md
  posts/alpha-channels/cat-first-selection.png
  posts/alpha-channels/cat.png
  posts/alpha-channels/channels.png
  posts/alpha-channels/magic-wand.png
  posts/alpha-channels/save-selection.png
  posts/going-metro/going-metro.md
  posts/going-metro/reader-1024x576.png
  posts/going-metro/startscreen-1024x576.png
  posts/going-metro/windows-8-logo-300x140.jpg
  posts/google-domains-aws/acm.png
  posts/google-domains-aws/cloudfront.png
  posts/google-domains-aws/google-domains-aws.md
  posts/java-truststore/java-truststore.md
  posts/java-truststore/ssl-certificate.png
  posts/new-pc/IMG_20151220_144823.jpg
  posts/new-pc/IMG_20151220_164328.jpg
  posts/new-pc/IMG_20151221_000527.jpg
  posts/new-pc/new-pc.md
  posts/rest-client-template/RESTing-300x229.jpg
  posts/rest-client-template/rest-client-template.md
  posts/sending-email/email.png
  posts/sending-email/sending-email.md
  posts/ssh-keys/keys.jpg
  posts/ssh-keys/ssh-keys.md
  posts/the-pi-and-i/the-pi-and-i.md
  posts/the-pi-and-i/thepi.jpg
  posts/the-pi-and-i/xbmcmenu.jpg
  src/components/layout/bio.tsx
  src/img/favicon.png
Labels: source, content, dependencies

Add e2e and visual test for posts with syntax highlighting
  cypress/integration/post.test.ts
Labels: none

Add e2e and visual test for posts with syntax highlighting
  cypress/integration/post.test.ts
Labels: none

Update formatting
  cypress/integration/post.test.ts
Labels: none

Update formatting
  cypress/integration/post.test.ts
Labels: none

Update npm check command
  .github/workflows/check-format.yml
  package.json
Labels: workflow

Update npm check command
  .github/workflows/check-format.yml
  package.json
Labels: workflow

Add meta description
  src/components/layout.tsx
Labels: source

Add meta description
  src/components/layout.tsx
Labels: source

Update lighthouse config
  lighthouserc.json
Labels: none

Update lighthouse config
  lighthouserc.json
Labels: none

Fix issues with alpha channels post
  posts/alpha-channels/alpha-channels.md
Labels: content

Fix issues with alpha channels post
  posts/alpha-channels/alpha-channels.md
Labels: content

Restructure google-domains-aws post
  posts/google-domains-aws/google-domains-aws.md
Labels: content

Restructure google-domains-aws post
  posts/google-domains-aws/google-domains-aws.md
Labels: content

Restructure src directory
  gatsby-config.js
  src/components/bio.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/declarations.d.ts
  src/layout.tsx
  src/pages/index.tsx
  src/styles/global.tsx
  src/styles/typography.ts
  src/templates/post.tsx
Labels: source, content, styling

Restructure src directory
  gatsby-config.js
  src/components/bio.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/declarations.d.ts
  src/layout.tsx
  src/pages/index.tsx
  src/styles/global.tsx
  src/styles/typography.ts
  src/templates/post.tsx
Labels: source, content, styling

Update alpha-channels post
  posts/alpha-channels/alpha-channels.md
Labels: content

Update alpha-channels post
  posts/alpha-channels/alpha-channels.md
Labels: content

Remove typography and emotion styles
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/bio.tsx
  src/components/post-date.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/declarations.d.ts
  src/layout.tsx
  src/pages/index.tsx
  src/styles/global.tsx
  src/styles/typography.ts
  src/templates/post.tsx
  tsconfig.json
Labels: source, content, styling, dependencies

Remove typography and emotion styles
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/bio.tsx
  src/components/post-date.tsx
  src/components/post-list-item.tsx
  src/components/social-icon.tsx
  src/declarations.d.ts
  src/layout.tsx
  src/pages/index.tsx
  src/styles/global.tsx
  src/styles/typography.ts
  src/templates/post.tsx
  tsconfig.json
Labels: source, content, styling, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json
