Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

Improve header formatting on mobile
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/header.tsx
Labels: test, source

Improve header formatting on mobile
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/header.tsx
Labels: test, source

Add custom excerpt marker
  gatsby-config.js
  src/pages/index.tsx
Labels: source, content

Add custom excerpt marker
  gatsby-config.js
  src/pages/index.tsx
Labels: source, content

Add excerpt markers to all posts
  posts/alpha-channels/alpha-channels.md
  posts/coding-challenges.md
  posts/command-objects.md
  posts/float-nan.md
  posts/going-metro/going-metro.md
  posts/google-domains-aws/google-domains-aws.md
  posts/google-gson.md
  posts/gorm-querying.md
  posts/grails-layout-parameters.md
  posts/groovy-interceptable.md
  posts/hibernate-grails-caching.md
  posts/introduction.md
  posts/java-truststore/java-truststore.md
  posts/jpa-repositories.md
  posts/levenshtein.md
  posts/mockito-tips.md
  posts/new-pc/new-pc.md
  posts/rest-client-template/rest-client-template.md
  posts/sending-email/sending-email.md
  posts/ssh-keys/ssh-keys.md
  posts/tetris-randomiser.md
  posts/the-pi-and-i/the-pi-and-i.md
Labels: content

Add excerpt markers to all posts
  posts/alpha-channels/alpha-channels.md
  posts/coding-challenges.md
  posts/command-objects.md
  posts/float-nan.md
  posts/going-metro/going-metro.md
  posts/google-domains-aws/google-domains-aws.md
  posts/google-gson.md
  posts/gorm-querying.md
  posts/grails-layout-parameters.md
  posts/groovy-interceptable.md
  posts/hibernate-grails-caching.md
  posts/introduction.md
  posts/java-truststore/java-truststore.md
  posts/jpa-repositories.md
  posts/levenshtein.md
  posts/mockito-tips.md
  posts/new-pc/new-pc.md
  posts/rest-client-template/rest-client-template.md
  posts/sending-email/sending-email.md
  posts/ssh-keys/ssh-keys.md
  posts/tetris-randomiser.md
  posts/the-pi-and-i/the-pi-and-i.md
Labels: content

Update styles for larger screens
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/layout.tsx
  src/components/social-icon.tsx
Labels: test, source

Update styles for larger screens
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/social-icon.test.tsx.snap
  src/components/layout.tsx
  src/components/social-icon.tsx
Labels: test, source

Update favicon
  src/img/favicon.png
Labels: source

Update favicon
  src/img/favicon.png
Labels: source

Include bio in the footer for posts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/bio.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/layout.tsx
  src/graphql.d.ts
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
Labels: test, source

Include bio in the footer for posts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-config.js
  src/components/__snapshots__/bio.test.tsx.snap
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/bio.tsx
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/layout.tsx
  src/graphql.d.ts
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
Labels: test, source

Use fontsource for Google Fonts
  gatsby-browser.js
  package-lock.json
  package.json
  src/fonts/Montserrat-Light.ttf
  src/fonts/Montserrat-Regular.ttf
  src/styles/global.css
Labels: source, styling, dependencies

Use fontsource for Google Fonts
  gatsby-browser.js
  package-lock.json
  package.json
  src/fonts/Montserrat-Light.ttf
  src/fonts/Montserrat-Regular.ttf
  src/styles/global.css
Labels: source, styling, dependencies

Add about page
  cypress/integration/about.test.ts
  cypress/integration/post.test.ts
  lighthouserc.json
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/footer.tsx
  src/components/post-list-item.tsx
  src/img/chris-evans.jpg
  src/pages/about.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, content, styling

Add about page
  cypress/integration/about.test.ts
  cypress/integration/post.test.ts
  lighthouserc.json
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/footer.tsx
  src/components/post-list-item.tsx
  src/img/chris-evans.jpg
  src/pages/about.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, content, styling

Update about page title and picture border width
  cypress/integration/about.test.ts
  src/pages/about.tsx
Labels: source, content

Update about page title and picture border width
  cypress/integration/about.test.ts
  src/pages/about.tsx
Labels: source, content

Add nav bar
  cypress/integration/about.test.ts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-node.js
  package-lock.json
  package.json
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/nav.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/nav.test.tsx
  src/components/nav.tsx
Labels: test, source, dependencies

Add nav bar
  cypress/integration/about.test.ts
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  gatsby-node.js
  package-lock.json
  package.json
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/__snapshots__/nav.test.tsx.snap
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/components/nav.test.tsx
  src/components/nav.tsx
Labels: test, source, dependencies

Add linting rules for accessibility
  .xo-config.json
  package.json
Labels: none

Add linting rules for accessibility
  .xo-config.json
  package.json
Labels: none

Remove site metadata and update components and tests
  gatsby-config.js
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/graphql.d.ts
  src/pages/about.tsx
  src/pages/index.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/templates/post.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, content

Remove site metadata and update components and tests
  gatsby-config.js
  src/components/__snapshots__/footer.test.tsx.snap
  src/components/__snapshots__/header.test.tsx.snap
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/footer.test.tsx
  src/components/footer.tsx
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.test.tsx
  src/components/layout.tsx
  src/graphql.d.ts
  src/pages/about.tsx
  src/pages/index.tsx
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.test.tsx
  src/templates/post.tsx
  src/test/__snapshots__/about.test.tsx.snap
  src/test/__snapshots__/index.test.tsx.snap
  src/test/about.test.tsx
  src/test/index.test.tsx
Labels: test, source, content

Add post on LeadDev 2021 session one
  posts/lead-dev-2021-1.md
  src/styles/global.css
Labels: source, content, styling

Add post on LeadDev 2021 session one
  posts/lead-dev-2021-1.md
  src/styles/global.css
Labels: source, content, styling

Fix bullet indentation on small screens
  src/styles/global.css
Labels: source, styling

Fix bullet indentation on small screens
  src/styles/global.css
Labels: source, styling

Update lead dev post to make remark render bullets without paragraphs
  posts/lead-dev-2021-1.md
Labels: content

Update lead dev post to make remark render bullets without paragraphs
  posts/lead-dev-2021-1.md
Labels: content

Remove custom indentation from lists and use list-inside instead
  cypress/integration/post.test.ts
  src/styles/global.css
Labels: source, styling

Remove custom indentation from lists and use list-inside instead
  cypress/integration/post.test.ts
  src/styles/global.css
Labels: source, styling

Update pictures
  src/components/footer.tsx
  src/img/chris-evans.jpg
  src/img/chris-evans.png
  src/img/profile-picture.png
  src/pages/about.tsx
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

Update pictures
  src/components/footer.tsx
  src/img/chris-evans.jpg
  src/pages/about.tsx
  src/test/__snapshots__/about.test.tsx.snap
Labels: test, source, content

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies

Fix linting errors
  .xo-config.json
  src/components/layout.tsx
  src/pages/index.tsx
  src/templates/post.tsx
Labels: source, content

Fix linting errors
  .xo-config.json
  src/components/layout.tsx
  src/pages/index.tsx
  src/templates/post.tsx
Labels: source, content

Update npm script to format and check code
  package.json
Labels: none

Update npm script to format and check code
  package.json
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json
