Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

Use font-display swap for custom fonts
  src/styles/global.css
Labels: source, styling

Use font-display swap for custom fonts
  src/styles/global.css
Labels: source, styling

Fix semantic headers and tighten up lighthouse checks
  lighthouserc.json
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, styling

Fix semantic headers and tighten up lighthouse checks
  lighthouserc.json
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.tsx
  src/styles/global.css
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source, styling

Add workflow to run tests
  .github/workflows/test.yml
Labels: workflow

Add workflow to run tests
  .github/workflows/test.yml
Labels: workflow

Refactor layout css classes
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/layout.tsx
Labels: test, source

Refactor layout css classes
  src/components/__snapshots__/layout.test.tsx.snap
  src/components/layout.tsx
Labels: test, source

Refactor header to separate component
  src/components/__snapshots__/header.test.tsx.snap
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.tsx
Labels: test, source

Refactor header to separate component
  src/components/__snapshots__/header.test.tsx.snap
  src/components/header.test.tsx
  src/components/header.tsx
  src/components/layout.tsx
Labels: test, source

Improve post accessibility
  cypress/integration/post.test.ts
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
Labels: test, source

Improve post accessibility
  cypress/integration/post.test.ts
  src/templates/__snapshots__/post.test.tsx.snap
  src/templates/post.tsx
Labels: test, source

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Format README
  README.md
Labels: documentation

Format README
  README.md
Labels: documentation

Update package.json
  package.json
Labels: none

Update package.json
  package.json
Labels: none

Integrate with Cypress Dashboard
  .github/workflows/test-e2e.yml
  cypress.json
Labels: workflow

Integrate with Cypress Dashboard
  .github/workflows/test-e2e.yml
  cypress.json
Labels: workflow

Update e2e tests GitHub workflow
  .github/workflows/test-e2e.yml
  package.json
Labels: workflow

Update e2e tests GitHub workflow
  .github/workflows/test-e2e.yml
  package.json
Labels: workflow

Add schedules to GitHub workflows
  .github/workflows/check-performance.yml
  .github/workflows/test-e2e.yml
Labels: workflow

Add schedules to GitHub workflows
  .github/workflows/check-performance.yml
  .github/workflows/test-e2e.yml
Labels: workflow

Add group to Cypress GitHub workflow
  .github/workflows/test-e2e.yml
Labels: workflow

Add group to Cypress GitHub workflow
  .github/workflows/test-e2e.yml
Labels: workflow

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
  package.json
Labels: workflow

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
  package.json
Labels: workflow

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
  README.md
Labels: documentation, workflow

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
  README.md
Labels: documentation, workflow

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
Labels: workflow

Update e2e GitHub workflow
  .github/workflows/test-e2e.yml
Labels: workflow

Fix mobile viewport issues on index page
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

Fix mobile viewport issues on index page
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/layout.tsx
  src/components/post-list-item.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

Fix mobile viewport issues on index page
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

Fix mobile viewport issues on index page
  src/components/__snapshots__/post-list-item.test.tsx.snap
  src/components/post-list-item.tsx
  src/test/__snapshots__/index.test.tsx.snap
Labels: test, source

Update lighthouse config
  lighthouserc.json
Labels: none

Update lighthouse config
  lighthouserc.json
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json
