Repository ceva24/ceva24.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, content, workflow, styling, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.ts
  - src/**/*.snap

source:
  - src/**/*

content:
  - posts/**/*
  - static/**/*
  - src/pages/**/*

workflow:
  - .github/**/*

styling:
  - src/styles/**/*

dependencies:
  - package-lock.json

Update GitHub workflows
  .github/workflows/check-types.yml
  .github/workflows/codeql-analysis.yml
Labels: workflow

Update GitHub workflows
  .github/workflows/check-types.yml
  .github/workflows/codeql-analysis.yml
Labels: workflow

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update package.json fields
  package.json
Labels: none

Update package.json fields
  package.json
Labels: none

Add performance checking config
  .github/workflows/check-performance.yml
  README.md
  lighthouserc.json
Labels: documentation, workflow

Add performance checking config
  .github/workflows/check-performance.yml
  README.md
  lighthouserc.json
Labels: documentation, workflow

Format performance checking config
  .github/workflows/check-performance.yml
  lighthouserc.json
Labels: workflow

Format performance checking config
  .github/workflows/check-performance.yml
  lighthouserc.json
Labels: workflow

Update performance check GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Update performance check GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Update lighthouse config
  lighthouserc.json
Labels: none

Update lighthouse config
  lighthouserc.json
Labels: none

Update lighthouse config
  lighthouserc.json
Labels: none

Update lighthouse config
  lighthouserc.json
Labels: none

Update performance check GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Update performance check GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Add minimum performance score test
  lighthouserc.json
Labels: none

Add minimum performance score test
  lighthouserc.json
Labels: none

Update minimum performance score check
  lighthouserc.json
Labels: none

Update minimum performance score check
  lighthouserc.json
Labels: none

Update performance checks GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Update performance checks GitHub workflow
  .github/workflows/check-performance.yml
Labels: workflow

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Add Cypress and Index page tests
  .xo-config.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/index.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/components/index/post-list-item.tsx
  tsconfig.json
Labels: source, dependencies

Add Cypress and Index page tests
  .xo-config.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/index.test.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/components/index/post-list-item.tsx
  tsconfig.json
Labels: source, dependencies

Add e2e tests for Post page
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/layout/bio.tsx
  src/templates/post.tsx
Labels: source

Add e2e tests for Post page
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  src/components/layout/bio.tsx
  src/templates/post.tsx
Labels: source

Remove Cypress fixtures
  cypress.json
  cypress/fixtures/example.json
Labels: none

Remove Cypress fixtures
  cypress.json
  cypress/fixtures/example.json
Labels: none

Add GitHub workflow for end-to-end tests
  .github/workflows/test-e2e.yml
Labels: workflow

Add GitHub workflow for end-to-end tests
  .github/workflows/test-e2e.yml
Labels: workflow

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Add visual testing with Percy
  .github/workflows/test-e2e.yml
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  package-lock.json
  package.json
Labels: workflow, dependencies

Add visual testing with Percy
  .github/workflows/test-e2e.yml
  cypress/integration/index.test.ts
  cypress/integration/post.test.ts
  package-lock.json
  package.json
Labels: workflow, dependencies

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation
